{% extends 'core/base.html' %}
{% block title %}
    Modificar usuarios
{% endblock title %}
<title>app USUARIO</title>
{% block content %}
            
<div class="container mt-5">
    {% if form.instance.pk %}
        <h1 class="text-center">Modificar usuario</h1>
    {% else %}
        <h1 class="text-center">Editar usuario</h1>
    {% endif %}
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <table class="table table-bordered">
                            {{ form.as_table }}
                        </table>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            <a href="" type="button" class="btn btn-dark ">Cancelar</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}