{% extends 'core/base.html' %}
{% block title %}
    Catalogo | Lista de productos
{% endblock title %}
            <title>app CATALOGO | Lista de productos</title>
        {% block content %}
        
        
        <button class="btn btn-primary " type="submit">Buscar elementos</button>
        <h1>LISTA DE PRODUCTOS REGISTRADOS</h1>
        {% for catalogo in catalogo  %}
        <h1>-----------</h1>
        <h4>{{catalogo}}</h4>

        {% endfor %}

        </body>
        </html>
{% endblock content %}